body {
    margin: 0;
}

.header-area {
    width: 100%;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;

}

.body-area {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    min-height: 616px;
}

.footer-area {
    width: 100%;
    height: 100px;
    background-color: rgb(33,89,104);
    border-top: 5px solid rgb(48, 131, 153);
    text-align: center;
}

.menu_list {
    padding-left: 0;
    list-style: none;
    display: -webkit-box;
    margin: 0 auto;
    width: 1000px;
}

.header_nav {
    display: block;
    margin: 0 auto;
    color: #FFFFFF;
    background-color: rgb(33,89,104);
    border-bottom: 5px solid rgb(48, 131, 153);
}

.menu {
    display: block;
    float: left;
    margin: 0 0 0 1px;
    position: relative;
    border-right: 1px solid white;
}

.active{
    background-color: rgb(48, 131, 153);
}

.menu a {
    display: block;
    padding: 10px 15px 10px 15px;
    color: inherit;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    font-family: Georgia, "맑은 고딕", serif;
}

.menu a:hover, .admin_login a:hover, .admin_logout a:hover {
    color: #b0fd39;
    text-shadow: 1px 1px 2px #c6c6c6;
}

.header_title_area {
    width: 100%;
    height: 120px;
    margin-top: 25px;
}

#header_title{
    position: absolute;
    left: 20%;
    top: 42px;
}

#header_title a {
    outline: none;
    text-decoration: none;
    color: rgb(33,89,104);
    font-size: 30px;
    font-weight: 550;
}

#menu_1 {
    border-left: 1px solid white;
}

.topbar {
    width: 100%;
    height: 35px;
    color: #FFFFFF;
    background-color: rgb(48, 131, 153);
}

.topbar_menu {
    color: inherit;
    position: relative;
    left: 15%;
    width: 300px;
}

.topbar_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#phone {
    position: relative;
    outline: none;
    text-decoration: none;
    color: black;
    font-size: 16px;
    top: 4px;
    font-weight: bold;
}

#phone:hover {
    color: aquamarine;
}

#banner1 {
    position: relative;
    width: 70%;
    height: 100%;
    left:15%;
    margin:auto;
}

.main-content {
    text-align: center;
    max-width: 1100px;
}

.contents {
    margin-bottom: 20px;
    margin-top: 20px;
}

.contents img {
    max-width: 100%;
}

.main-content h1, .main-content h2 {
    color: rgb(33,89,104);
    font-weight: normal;
}

.slideImg {
    width: 100%;
    margin-top: 20px;
}

.imgList{
    max-width: 100%;
    margin-top: 70px;
}

.slide {
    overflow: hidden;
}

.slide ul {
    width:calc(100% * 5);
    display:flex;
    animation:slide 16s infinite;
    padding: 0;
}

ul {
    list-style:none;
}

.slide li{
    width:calc(100% / 5);
}

@keyframes slide {
    0% {margin-left:0;} /* 0 ~ 10  : 정지 */
    10% {margin-left:0;} /* 10 ~ 25 : 변이 */
    25% {margin-left:-100%;} /* 25 ~ 35 : 정지 */
    35% {margin-left:-100%;} /* 35 ~ 50 : 변이 */
    50% {margin-left:-200%;}
    60% {margin-left:-200%;}
    75% {margin-left:-300%;}
    85% {margin-left:-300%;}
    100% {margin-left:0;}
}

.is-paused ul{
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
    animation-play-state:paused;
}

.btn_group {
    position: relative;
    display: inline-block;
    margin: 0;
    top:-10px;
    float: right;
}

.btn_group button, .btn_div button{
    border: 1px solid #267448;
    background-color: rgba(0,0,0,0);
    color: #267448;
    padding: 5px;
    border-radius: 5px;
    margin: 2px 5px 2px 5px;
}

.btn_group button:hover, .btn_div button:hover{
    border: 2px solid #267448;
    background-color: #e8e8e8;
    font-weight: bold;
}

.contents.editable, .editContent {
    box-shadow: 3px 3px 3px;
    background-color: #f6f6f6;
    padding-top: 10px;
}

.editContent{
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid #3aac6d;
}

.editContent:focus {
    outline: none;
}

.addCont, .addImg, .addText {
    cursor: pointer;
    margin: 10px;
}

.uploadForm{
    margin-top: 20px;
    display: inline;
}
.emptyContents.show button{
    font-size: 18px;
    border-radius: 5px;
}

.emptyContents.show {
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    min-height: 40px;
    margin: 10px;
    padding: 15px;
}

.emptyContents.hide {
    height: 10px;
}

input[name='content_img'], input[type='submit'] {
    font-size: 18px;
    margin: 15px;
    border-radius: 5px;
}

.admin_login, .admin_logout {
    position: relative;
    right: 10px;
    bottom: 10px;
    text-align: right;
}
.admin_login a, .admin_logout a{
    color: white;
    outline: none;
    text-decoration: none;
    font-size: 12px;
}
.menu_container {
    display:block;
    width: 100%;
}
/* Small menu. */
@media screen and (min-width:768px) {
    .menu-toggle,
    .dropdown-toggle {
        display: none;
    }

    .main-navigation ul {
        display: block;
    }
    .receptionForm {
        margin: 0;
        max-width: 90%;
        position: relative;
        padding: 30px;
        background-color: #e0ffed;
        height: 320px;
        margin-bottom: 20px;
        border: 2px solid #66c9c0;
        border-radius: 5px;
    }

    .contTitle {
        display: inline-block;
        position: relative;
        width: 30%;
        text-align: left;
        font-size: 19px;
        top: 5px;
    }

    .contInput{
        display: inline-block;
        position: relative;
    }
    .custInfo{
        width: 250px;
        height: 20px;
    }
    .questArea {
        position: relative;
        top: 30px;
        resize: none;
        width: 260px;
    }

}

@media only screen and (max-width:767px) {
    .menu-toggle {
        border-radius: 3px;
        display: block;
        font-size: 20px;
        line-height: 1.3;
        margin: 15px auto;
        padding: 7px 20px 5px 15px;
        background: rgb(41 191 108);
        color: white;
        border: 1px solid #9ecb89;
    }
    .menu-toggle:hover {
        background-color: #349861;
        color: white;
    }

    .menu-toggle:active {
        background-color: #2a7d4f;
        color: white;
        box-shadow: 2px 2px 2px;
    }

    .header_nav ul {
        background: rgb(33,89,104) none repeat scroll 0 0;
    }
    .menu_container {
        display:block;
        width: 100%;
        background-color: rgb(33,89,104);
    }

    .menu_list {
        padding-left: 0;
        list-style: none;
        display: none;
        margin: 0 auto;
        width: 90%;
        position: absolute;
        z-index: 9999;
        border: 1px solid #dddddd;
        left: 5%;
    }

    .menu {
        display: block;
        float: inherit;
        clear: both;
        margin: 0 0 0 1px;
        position: relative;
        border-right: none;
        border-bottom: 1px solid #dddddd;
    }

    .menu a {
        display: block;
        padding: 10px 15px 10px 15px;
        color: inherit;
        outline: none;
        text-decoration: none;
        font-size: 16px;
        font-family: Georgia, "맑은 고딕", serif;
    }

    #menu_1 {
        border-left: none;
    }

    .custInfo{
        width: 200px;
        height: 18px;
    }

    .contTitle {
        display: inline-block;
        position: relative;
        width: 25%;
        text-align: left;
        font-size: 18px;
        top: 5px;
    }

    .receptionForm {
        margin: 0;
        max-width: 100%;
        position: relative;
        padding: 10px;
        background-color: #e0ffed;
        height: 320px;
        margin-bottom: 20px;
        border: 2px solid #66c9c0;
        border-radius: 5px;
    }

    .contInput{
        display: inline-block;
        position: relative;
    }
    .questArea {
        position: relative;
        top: 30px;
        resize: none;
        width: 240px;
    }
}

.foot_list {
    list-style: none;
    position: relative;
    margin: 10px;
    /*left: 33%*/
}

.foot_list a {
    outline: none;
    color: #f3f3f3;
    font-size: 14px;
    text-decoration: none;
}

.foot_list a:hover {
    color: #c9fd5a;
}

.foot_list li {
    display: inline-block;
    margin-right: 15px;
}

.footMark {
    color: #e5e4e4;
    display: block;
    position: relative;
    /*left: 50%;*/
    /*transform: translate(-10%,-50%);*/
    font-size: 12px;
    margin: 5px;
}

.imgContent {
    margin-top: 50px;
    position: relative;
    display: block;
}

/*.receptionForm {*/
/*    margin: 0;*/
/*    max-width: 90%;*/
/*    position: relative;*/
/*    padding: 30px;*/
/*    background-color: #e0ffed;*/
/*    height: 320px;*/
/*    margin-bottom: 20px;*/
/*    border: 2px solid #66c9c0;*/
/*    border-radius: 5px;*/
/*}*/

/*.contTitle {*/
/*    display: inline-block;*/
/*    position: relative;*/
/*    width: 30%;*/
/*    text-align: left;*/
/*    font-size: 19px;*/
/*    top: 5px;*/
/*}*/

/*.contInput{*/
/*    display: inline-block;*/
/*    position: relative;*/
/*}*/

/*.custInfo{*/
/*    width: 250px;*/
/*    height: 20px;*/
/*}*/

.agreeCheck, .agreeText{
    display: inline-block;
    left: -18%;
    position: relative;
}

.submit_btn {
    border: 1px solid lightgrey;
    width: 120px;
    height: 35px;
    left: 15%;
    top: 50px;
    position: relative;
    border-radius: 10px;
    background-color: white;
    padding-top: 13px;
    color: green;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.submit_btn:hover {
    background-color: #f1f1f1;;
}
.submit_btn:active {
    background-color: lightgrey;
    box-shadow: 1px 1px 1px;
    left: 15.5%;
    top: 51px;
    color: black;
    border-color: grey;
}

/*.questArea {*/
/*    position: relative;*/
/*    top: 30px;*/
/*    resize: none;*/
/*}*/