body {
    margin: 0;
}

.header-area {
    width: 100%;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;

}

.body-area {
    width: 100%;
    height: auto;
}

.footer-area {
    width: 100%;
    height: 60px;
    background-color: rgb(33,89,104);
    border-top: 5px solid rgb(48, 131, 153);
}

.menu_list {
    padding-left: 0;
    list-style: none;
    display: -webkit-box;
    max-width: 600px;
    margin: 0 500px;
}

.header_nav {
    display: block;
    margin: 0 auto;
    color: #FFFFFF;
    background-color: rgb(33,89,104);
    border-bottom: 5px solid rgb(48, 131, 153);
}

.menu {
    display: block;
    float: left;
    margin: 0 0 0 1px;
    position: relative;
    border-right: 1px solid white;
}

.active{
    background-color: rgb(48, 131, 153);
}

.menu a {
    display: block;
    padding: 10px 15px 10px 15px;
    color: inherit;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    font-family: Georgia, "맑은 고딕", serif;
}

.menu a:hover {
    color: #b0fd39;
    text-shadow: 1px 1px 2px #c6c6c6;
}

.header_title_area {
    width: 100%;
    height: 120px;
    margin-top: 25px;
}

#header_title{
    position: absolute;
    left: 200px;
    top: 42px;
    font-size: 30px;
    color: rgb(33,89,104);
    font-weight: 550;
}

#menu_1 {
    border-left: 1px solid white;
}

.topbar {
    width: 100%;
    height: 35px;
    color: #FFFFFF;
    background-color: rgb(48, 131, 153);
}

.topbar_menu {
    width :500px;
    color: inherit;
    position: relative;
    left: 200px;
}

.topbar_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#phone {
    position: relative;
    outline: none;
    text-decoration: none;
    color: black;
    font-size: 16px;
    top: 4px;
    font-weight: bold;
}

#phone:hover {
    color: aquamarine;
}

#banner1 {
    position: relative;
    width: 70%;
    height: 100%;
    left:15%;
    margin:auto;
}

.body-area {
    display: flex;
    justify-content: center;
    min-height: 600px;
}

.main-content {
    text-align: center;
    max-width: 1100px;
}

.contents {
    margin-bottom: 20px;
    margin-top: 20px;
}

.contents img {
    max-width: 100%;
}

.main-content h1, .main-content h2 {
    color: rgb(33,89,104);
    font-weight: normal;
}

.slideImg, imgList{
    width: 1000px;
}

.slide {
    overflow: hidden;
}

.slide ul {
    /*width:calc(100% * 5);*/
    display:flex;
    animation:slide 16s infinite;
}

ul {
    list-style:none;
}

.slide li{
    /*width:calc(100% / 5);*/
    margin-right: -10px;
}

@keyframes slide {
    0% {margin-left:0;} /* 0 ~ 10  : 정지 */
    10% {margin-left:0;} /* 10 ~ 25 : 변이 */
    25% {margin-left:-100%;} /* 25 ~ 35 : 정지 */
    35% {margin-left:-100%;} /* 35 ~ 50 : 변이 */
    50% {margin-left:-200%;}
    60% {margin-left:-200%;}
    75% {margin-left:-300%;}
    85% {margin-left:-300%;}
    100% {margin-left:0;}
}

.is-paused ul{
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
    animation-play-state:paused;
}

.btn_group {
    position: relative;
    display: inline-block;
    margin: 0;
    top:-10px;
    float: right;
}

.btn_group button, .btn_div button{
    border: 1px solid #267448;
    background-color: rgba(0,0,0,0);
    color: #267448;
    padding: 5px;
    border-radius: 5px;
    margin: 2px 5px 2px 5px;
}

.btn_group button:hover, .btn_div button:hover{
    border: 2px solid #267448;
    background-color: #e8e8e8;
    font-weight: bold;
}

.contents.editable, .editContent {
    box-shadow: 3px 3px 3px;
    background-color: #f6f6f6;
    padding-top: 10px;
}

.editContent{
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid #3aac6d;
}

.editContent:focus {
    outline: none;
}

.addCont, .addImg, .addText {
    cursor: pointer;
    margin: 10px;
}